@model IEnumerable<UpcomingEvents.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs">
    @foreach (var e in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @e.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @e.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @e.Artist.UserName
                </span>
                <span class="genre">
                    @e.Genre.Name
                </span>
            </div>
        </li>
    }
</ul>
